


.language{
    position: relative;
    font-weight: bold;
    text-align: center;
   
    
  
   
  }

 
  .langbtn{
    color: black;
    background-color: white;
    width: 50px;
    border: 1px solid black;
  
  }
  
  .langbtn:hover{
    background-color: grey;
    cursor: pointer;
  }
  .langcontainer{
    display: none;
    color: black;
    position: absolute;
   background-color: rgb(133, 130, 130);
   border: 1px solid black;
  
  }
  .langcontainer li{
  width: 47px;
  list-style: none;
  
  }
  .langcontainer li:hover{
  background-color: white;
  cursor: pointer;
  }
  .show{
  display: block;
  }