
.Gallery{
    margin-bottom: 130px;
}

.gallery_about{
    width: 67.1228%;
}

.gallery_about h2{
    font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
/* identical to box height, or 54px */
color: #000000;
}
.gallery_about p{
    font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
/* or 27px */
color: #414342;
}